# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ModRimWorldNoDecreeQuest.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ausu\Desktop\NoDecreeQuest\1.4\Source\ModRimWorldNoDecreeQuest\.idea\.idea.ModRimWorldNoDecreeQuest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
